{% extends 'base.html' %}

{% block body %}
  <main role="main" class="inner cover mt-5">
    <h1 class="cover-heading">Voice Recognisation for Library.</h1>
    <p class="lead text-center">Click Here to Search for books in library</p>
    <button class="btn btn-lg btn-secondary" id='btnGiveCommand'>Give Command!</button>
    <br><br>
    <span name ='command' id='message'></span>
    <br><br>
  </main>

<script>
        var message = document.querySelector('#message');

        var SpeechRecognition = SpeechRecognition || webkitSpeechRecognition;
        var SpeechGrammarList = SpeechGrammarList || webkitSpeechGrammarList;

        var grammar = '#JSGF V1.0;'

        var recognition = new SpeechRecognition();
        var speechRecognitionList = new SpeechGrammarList();
        speechRecognitionList.addFromString(grammar, 1);
        recognition.grammars = speechRecognitionList;
        recognition.lang = 'en-US';
        recognition.interimResults = false;

        recognition.onresult = function(event) {
            var last = event.results.length - 1;
            var command = event.results[last][0].transcript;
            message.textContent = 'Voice Input: ' + command + '.';
            
            document.body.innerHTML += '<form id="dynForm" action="mahesh" method="post"><input type="hidden" name="q" value="'+command+'">{% csrf_token %}</form>';
            document.getElementById("dynForm").submit();
        };

        recognition.onspeechend = function() {
            recognition.stop();
        };

        recognition.onerror = function(event) {
            message.textContent = 'Error occurred in recognition: ' + event.error;
        }        

        document.querySelector('#btnGiveCommand').addEventListener('click', function(){
            recognition.start();

        });


    </script>
{% endblock %}